h1, h2, h3 {
  font-weight: normal;
  margin: 0;
}

:host {
  font-family: sans-serif;
  display: block;
  max-width: 50em;
  margin: 3em auto;
  padding: 1em;
  background: white;
  box-shadow: 2px 2px 14px -2px #00000078;
}

h2 {
  margin-bottom: 0.6em
}
