<h2>We, programmers, love trees. So we've decided to make one for feature selection form!</h2>
<form (submit)="$event.preventDefault(); submit()">
  <div>
    <app-tree-view
      class=root
      [tree]=features
      [orderFormStore]=orderFormStore
      [disabled]=disabled
      (featureSelected)=showPreview($event)
      >
    </app-tree-view>
    <div>
      <label>
        Total:
        <input
          type="text"
          readonly
          [value]="orderFormStore.getTotalPrice().toFixed(2)"
          />
      </label>
    </div>
    <input
      [disabled]=disabled
      type="submit"
      value="Submit order"
      />
  </div>
  <div class="preview" *ngIf="preview">
    {{preview}}
  </div>
</form>
<iframe
  *ngIf="responseURL"
  [src]="responseURL"
  frameborder="0">
</iframe>
<div *ngIf="serverError">Got problems communicating with server. Please, try again later or contact <a href="mailto:support@support.com">our support</a></div>