<div *ngIf="rootNodeFlow != null">
  <span>{{rootNodeFlow?.name}}</span>
</div>
<div *ngIf="rootNodeFlow == null">
  <app-inline-feature-editor
    *ngIf="editFeatureFlow != null"
    [editorState]="editFeatureFlow?.editorState"
    (submit)="editorService.saveChanges()"
    (cancel)="editorService.cancelEditing()"
    >
  </app-inline-feature-editor>
  <app-inline-feature-set-editor
    *ngIf="editFeatureSetFlow != null"
    [editorState]="editFeatureSetFlow?.editorState"
    (submit)="editorService.saveChanges()"
    (cancel)="editorService.cancelEditing()"
    >
  </app-inline-feature-set-editor>
  <span *ngIf="featurePreviewFlow">
    <span (click)=edit()>{{featurePreviewFlow?.name}}</span>
    <span (click)=edit()>${{featurePreviewFlow?.price}}</span>
    <button (click)=delete()>X</button>
  </span>
  <span *ngIf="featureSetPreviewFlow">
    <span (click)=edit()>{{featureSetPreviewFlow?.name}}</span>
    <button (click)=delete()>X</button>
  </span>
</div>
<app-editable-tree-view
  *ngFor="let option of children"
  [tree]=option
  [disabled]=disabled
  [depth]="depth + 1"
  >
</app-editable-tree-view>
